<div ng-app="myApp" ng-controller="blogCtrl">
<table>
<tr><td>Manger Id</td><td>Manger Name</td></tr>
   <tr ng-repeat="x in Name track by $index">
        <td>{{ x.m_id }}</td>
        <td>{{ x.m_name }}</td>
   </tr>


  </tr>
</table>

</div>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js">
</script>
<script>
var app = angular.module('myApp', []);

app.controller('blogCtrl', function($scope,$http) {

		$http.get("http://localhost:3000/techgeek/v1/getEmployeeDetails")
.success(function(response) {
	$scope.Name = response;
	console.log($scope.Name);
});
});
</script>
<style>
table, th , td {
border: 1px solid grey;
border-collapse: collapse;
padding: 5px;
}
table tr:nth-child(odd) {
background-color: #f1f1f1;
}
table tr:nth-child(even) {
background-color: #ffffff;
}
</style>
